body {
    color: #d8dee0;
    background-color: #454545;
    font-family: sans-serif;
}

  
  .App {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
  }
  
  .done {
    color: red;
    text-decoration: line-through;
  }